:root {
  --primary-font: 'Inter', sans-serif;
  --body-size: 1440px;
  --container: 1100px;
}

body {
  font-family: var(--primary-font);
  font-weight: 500;
}

.wrapper {
  max-width: var(--body-size);
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: #3c50e0;
  border-radius: 15px;
  color: white;
  &--primary,
  &--inverse {
    padding: 13px 21px;
    width: 100%;
  }
  &--medium {
    padding: 9px 34px;
  }
  &--big {
    padding: 9px 40px;
    border-radius: 30px !important;
  }
  &:hover {
    background-color: #d8f7ff !important;
    color: #15c2f9 !important;
  }
}

.logo {
  width: 50px;
  height: 50px;
}

.notify {
  padding: 10px;
  margin: 0 0 20px 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  border: 1px solid #fafafa;
  &--error {
    border-left: 4px solid #dd3d36;
  }
  &--success {
    border-left: 4px solid #5cb85c;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexbox($alight: flex-start, $justify: flex-start, $flex-direction: row, $wrap: nowrap) {
  display: flex;
  align-items: $alight;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
